# Currently, this is not in use.

# Set the host here
HOST=""
# Video url for the video pages
VIDEO_URL=""

# Set the node env here.
# NODE_ENV=production
NODE_ENV=development

# Better auth
# Create your own secret key
# Use 'pnpm run secret:generate' to get a secret key.
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Redis
# Set the host for Redis here
REDIS_HOST=localhost
# This is not setup yet.
# REDIS_PORT=6379

#-----
# Cloudflare/Captcha
# TODO Set these up
#-----
# Toggle the captcha on/off for the auth pages.
CAPTCHA_ENABLED="false"

# Cloudflare turnstyle secret key for use with captchas
TURNSTILE_SECRET_KEY=

#-----
# Toggle page routes
#-----
# Toggle auth routes, if set to true it enables login and register, and also displays the login/register pages on the home page.
AUTH_ROUTES=true

# Toggle the test pages here, the pages that show up in /test
TEST_PAGES=false

# Display the test page in the navbar, mostly for local testing.
# This isn't setup yet.
DISPLAY_TEST_PAGE_NAVBAR="false"
