# Currently, this is not in use.

# Set the host here
HOST=""
# Video url for the video pages
VIDEO_URL=""

# Display the test page in the navbar, mostly for local testing.
# This isn't setup yet.
DISPLAY_TEST_PAGE_NAVBAR="false"
