@import "tailwindcss";

@import "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

/* This fixes the light mode layouts */
/* This just.. works now? I don't know what I changed. */
@custom-variant dark (&:where(.dark, .dark *));

/* New content */

/* This makes the transition from dark to light mode smoother */
* {
  @apply transition-colors duration-200;
}


@layer base {
  /* This makes h1 tags by default be bigger */
  h1 {
    font-size: var(--text-3xl);
  }

  /* This makes a tags show up as blue and underlined. */
  a {
    @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600;
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */


html {
  /* Light mode defaults */
  color: theme('colors.gray.900');
  background-color: theme('colors.gray.100');
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  /* Ensure no default browser margins/paddings on HTML */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html.dark {
  /* Dark mode overrides (when 'dark' class is present on <html>) */
  color: theme('colors.gray.100');
  background-color: theme('colors.gray.900');
}

/* Body Reset */
body {
  background: none;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html.dark .content-overlay {
  /* background-color: rgba(156, 163, 175, 0.7); gray-400 equivalent */
  /*background-color: rgba(0, 0, 0, 0.7);*/
  /* gray-400 equivalent */
}